<nav class="navbar navbar-expand-lg navbar-light bg-primary">
 
  <img src="assets\MicrosoftTeams-image (2).png" alt="Description of the image" width="90" height="50">
  <a class="navbar-brand col-md-9" style="font-size: 25px;color: white">Cravio</a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/login" style="color: white">Admin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/customer/login" style="color: white"
          >Customer</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" style="color: white">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contacts" style="color: white">Contact</a>
      </li>
    </ul>
  </div>
</nav>
